<!-- index.ejs -->
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>

<body>


    <%- include('./partials/navbar') %>

        <h2>PAGE: INDEX</h2>
        <div>
            <ul class="messages-display">
                <% messages.forEach(m=> { %>
                    <li>
                        <ul class="inside-list">
                            <li>

                                <%= m.text %>


                            </li>
                            <li>
                                <br>
                                <%= m.user %>
                                    <br><br>
                                    <%= m.added %>

                            </li>


                        </ul>
                    </li>

                    <% }) %>
            </ul>
        </div>
</body>

</html>