<!-- index.ejs -->
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>

<body>
    <div class="site-title">
        <h1>Mini Message Board</h1>
    </div>

    <%- include('./partials/navbar') %>

        <h2>PAGE: INDEX</h2>
</body>

</html>